.active{
  color:tomato;
}
.hidden{
  display: none;
}
.todoButton, .plusCircleButton, .deleteRoutineButton{
  border: none;
  background: none;
  cursor: pointer;
}
.todoButton:active{
  opacity: 40%;
}
.routine_div{
  display: grid;
  grid-template-columns: auto auto auto 1fr;
}
.filledCircle{
  fill:#a0a0ff;!important;
  stroke: black;
  cursor: pointer;
}
.unfilledCircle{
  fill:white;
  stroke: black;
  cursor: pointer;
}