doctype 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        div.container
            h1#greeting.hidden 
            form#loginForm.hidden
                input(type="text", required)
                input(type="submit")
            div.dateNclock




        script(src="/socket.io/socket.io.js")
        script(src="/public/js/hi.js")
    