doctype 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MY
        style
            include ../public/css/style.css

    body
        div.container
            div.todowindow
                h1#greeting.hidden 
                form#loginForm.hidden
                    input(type="text", required, maxlength="15", placeholder="what is your name?")
                    input(type="submit" name="" value="Log in")
                div.dateNclock
                    h2#date(style="margin:0") 2020년 00월 00일 0
                    h2#clock(style="margin:0") 00:00
                div.div_progress
                    progress#progress(max="100" value=0)
                    span#progressPercent
                
                section 
                    div.div_todo
                        form#todo_form
                            div.todo_field
                                select#tag_select(required)
                                    option(value="") Tag
                                    option(value="coding") 코딩
                                    option(value="reading") 독서
                                    option(value="english") 영어
                                    option(value="workout") 운동
                                    option(value="plan") 일정
                                    option(value="etc") 기타
                                input(type="text" placeholder="Write a To Do" required)
                                button ✖️
                        ul#todo_list
                    div.div_tracker
                        form#tracker_form
                            div.tracker_field
                                input(type="text" required maxlength="15" placeholder="Write a routine") 
                                button ✖️
                div#quote
                    span
                    span
                div#weather
                    span
                    span     
                span#dust
            button.goChat
                img(src="/public/img/chat.png")

            div.chat
                div#welcome
                    form
                        input(type="text" placeholder="room name" required)     
                        button
                            img(src="/public/img/enter.png")
                    h4 Opened Rooms:
                        ul(style="margin:0")
                div#room
                    div#room_roomName
                    div#room_participants
                        span 참여자
                    div#room_chat
                        ul 
                    //- form#nickname
                    //-     input(type="text" placeholder="nickname" required)  
                    //-     button Save
                    div#room_message
                        form#message
                            input(type="text" placeholder="message" required)
                            button
                                img(src="/public/img/send.png")

        script(src="/socket.io/socket.io.js")
        script(src="/public/js/greetings.js")
        script(src="/public/js/clock.js")
        //script(src="/public/js/quotes.js")
        script(src="/public/js/background.js")
        script(src="/public/js/todo.js")
        //script(src="/public/js/weather.js")
        //script(src="/public/js/dust.js")
        script(src="/public/js/tracker.js")

        script(src="/public/js/chat.js")