body{
  margin:0;
}
#greeting{
  margin:0;
  position: sticky;
  top:0;
  background-color: rgba(255, 255, 255, 0.39);
  font-size:20px;
  padding-left:40px;
}
@media(min-width: 770px){
  #greeting{
  }
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: grid;
}
.container::after {
  width: 100%;
  height: 100vh;
  content: "";
  /* background: url("../img/4.png"); */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  margin:0;
  background-repeat: no-repeat;
  background-size: cover;
}


/*클래스명으로 세팅*/
.active{
  color:tomato;
}
.hidden{
  display: none;
}


/*날짜, 시간*/
.dateNclock{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2.8vw;
  padding-top:15vh;
}

.div_progress{
  text-align: center;
  font-size: 3vw;
}

/*본문섹션*/
section{
  display: flex;
  justify-content: space-evenly;
  /* margin:10px; */
  font-size: 1.4vw;
}
@media (max-width:500px){
  section{
    flex-direction: column;
    align-items: center;
  }
}


.todoButton, .plusCircleButton, .deleteRoutineButton{
  border: none;
  background: none;
  cursor: pointer;
}
.todoButton:active{
  opacity: 40%;
}


/*투두*/
.loginForm_field{
  display: grid;
  grid-template-columns: 8vw 1fr;
  grid-gap: 3px;
}

/* 입력 세개 테두리, 위아래패딩 */
.loginForm_field select, .loginForm_field input, .form_field input{ 
  border : 2px solid #2b2b2b;
  border-radius: 0.25em;
  padding-top:0.3em;
  padding-bottom: 0.3em;
}
.loginForm_field input, .form_field input{
  padding-left: 2vw;
  padding-right: 9vw;
}
@media (max-width:770px){
  .loginForm_field input, .form_field input{
    padding-left: 2vw;
    padding-right: 4vw;
    width:20vw;
  }
}

/*트래커*/
.form_field, .loginForm_field{
  position:relative;
  margin-bottom: 4px;
}
.form_field button, .loginForm_field button{
  all:unset;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right:15px;
  font-size: 1rem;

}
.routine_div{
  display: grid;
  grid-template-columns: auto 210px auto;
  column-gap: 5px;
}
.filledCircle{
  fill:#a0a0ff;
  stroke: black;
  cursor: pointer;
}
.unfilledCircle{
  fill:white;
  stroke: black;
  cursor: pointer;
}




/* 채팅 */
/* 채팅버튼 초기*/
.goChat{
  position : fixed;
  right:0;
  top:0;
}
/* 채팅 블록 초기 */
.chat{
  display: none;
}

.chatOpen_container{
  grid-template-columns: 80% 20%;
}
.chatOpen_chat{
  display: block;
  border:0.4px solid;
}
.chatOpen_btn{
  right:22%;
}

@media (max-width:770px){
  .chatOpen_container{
    grid-template-columns: 70% 30%;
  }
  .chatOpen_btn{
    right:31%;
  }
}
