body{
  margin:0;
}
#greeting{
  margin:0;
  position: sticky;
  top:0;
  background-color: rgba(255, 255, 255, 0.39);
  font-size:20px;
  padding-left:40px;
}
@media(min-width: 770px){
  #greeting{
  }
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: grid;
}
.container::after {
  width: 100%;
  height: 100vh;
  content: "";
    background-image: url("../public/img/4.png");
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  margin:0;
  background-repeat: no-repeat;
  background-size: cover;
}


/*클래스명으로 세팅*/
.active{
  color:tomato;
}
.hidden{
  display: none;
}


/*날짜, 시간*/
.dateNclock{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2.8vw;
  padding-top:15vh;
}

.div_progress{
  text-align: center;
  font-size: 3vw;
}

/*본문섹션*/
section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.4vw;
  justify-items: center;
}
@media (max-width:500px){
  section{
    grid-template-columns: auto;
    /* flex-direction: column;
    align-items: center; */
  }
}


.todoButton, .plusCircleButton, .deleteRoutineButton{
  border: none;
  background: none;
  cursor: pointer;
}
.todoButton:active{
  opacity: 40%;
}


/*투두*/
.todo_field{
  display: grid;
  grid-template-columns: 8vw 1fr;
  grid-gap: 3px;
}

/* 입력 세개 테두리, 위아래패딩 */
.todo_field select, .todo_field input, .tracker_field input{
  border : 2px solid #2b2b2b;
  border-radius: 0.25em;
  padding-top:0.3em;
  padding-bottom: 0.3em;
}
.todo_field input, .tracker_field input{
  padding-left: 2vw;
  padding-right: 9vw;
}
@media (max-width:770px){
  .todo_field input, .tracker_field input{
    padding-left: 2vw;
    padding-right: 4vw;
  }
}
#todo_list{
  padding-left:0;
  max-width:40vw;
}
.span_text{
  overflow: hidden;
  word-wrap: break-word;
}

/*트래커*/
.tracker_field, .todo_field{
  position:relative;
  margin-bottom: 4px;
}
.todo_field button{
  all:unset;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right:15px;
  font-size: 1rem;
}
.routine_div{
  display: grid;
  grid-template-columns: auto 210px auto;
  column-gap: 5px;
}
@media (max-width:770px) {
  .routine_div {
    grid-template-columns: auto 0.6fr 0.4fr;
  }
}
.tracker_field{
  text-align: center;
}
.tracker_field button {
  all: unset;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-35px);
  font-size: 1rem;
}
.filledCircle{
  fill:#a0a0ff;
  stroke: black;
  cursor: pointer;
}
.unfilledCircle{
  fill:white;
  stroke: black;
  cursor: pointer;
}




/* 채팅 */

/* 채팅버튼 초기*/
.goChat{
  position : fixed;
  right:0;
  top:0;
  background: none;
  border:none;
}
.goChat img:hover{
  background: rgba(231, 231, 231, 0.73);
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgb(0 0 0/10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
  transition: 0.3s;
}
.goChat img{
  width: 3.5vw;
}

/* 채팅 블록 열고 닫기 설정 */
.chat{
  display: none;
}
.chatOpen_chat{
  display: block;
  /* border:0.4px solid; */
}
.chatOpen_container{
  grid-template-columns: 80% 20%;
}
.chatOpen_btn{
  right:22%;
}
@media (max-width:770px){
  .chatOpen_container{
    grid-template-columns: 70% 30%;
  }
  .chatOpen_btn{
    right:31%;
  }
}

.chat{
  justify-content: center;
  align-items: center;
  border-radius: 25px 25px 10px 10px;
  /* background-color: #c2c2c2; */
  background-color: #fffcfa;
  display:flex;
  height: 90vh;
  margin : 3vh 1vw;
  border: 0.3px solid #eeeae769;
}
#welcome form{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-top:1vh;
}
#welcome form input{
  width:70%;
  height: 5vh;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  box-shadow: 1px 1px 1px 1px #a09fcf;
  background-color: rgb(240 240 250);
}
#welcome form input::placeholder{
  color: #9c9ccd;
}
#welcome form button{   
  background: none;
  border: none;
  cursor: pointer;
  line-height: inherit;
}
#welcome form button img{
  height : 5.5vh;
  vertical-align: middle;
}

#room{
  width:100%;
}
#room_roomName{
  text-align: center;
}
#room_roomName span{
  margin: 10px;
  font-size: 0.5em;
  color: #3d3a3a;
}
#room_participants{
  border-top: 0.5px solid #cdcdcd;
  border-bottom: 0.5px solid #cdcdcd;
}
#room_chat{
  height: calc(90vh - 66px); 
  /* 패딩생기면더 빼야해! */
  font-size:0.9em;  
}
#room_chat ul{
  height: inherit;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}
#room_chat li{
  margin-top: 1px;
  border-bottom: 0.5px solid #cdcdcd;
}
.chatNotice{
  background: #d8d2ce;
  font-size: 0.5em;
  text-align: center;
  width: fit-content;
  padding: 0 13px;
  margin: 0 auto;
  list-style: none;
  border: none !important;
  border-radius: 15px;
  color: #ffffff;
}
#room_message{
  font-size: 0.8em;
  border-top: 0.5px solid #cdcdcd;
  background: #fdf2eb;
  border-radius: 10px;
}
#room_message form{
  display: grid;
  grid-template-columns: 80% auto;
  justify-content: space-between;
}
#room_message input{
  all: unset;
  padding-left: 10px;
}
#room_message img{
  height: 18px;
}
#room_message button{
  border-radius: 10px;
  background: none;
  cursor: pointer;
  background-color: #fff8f4;
  box-shadow: 1px 1px 1px #d6d6d5;
  transition-duration: 0.2s;
  border-color: #f3ede9;
  width: fit-content;
  text-align: center;
}
#room_message button:active{
  margin-left: 3px;
  margin-top: 3px;
  box-shadow: none;
  background-color: #fdf2eb;
}
#room_message button:hover{
  background-color: #fdf2eb;
}