body{
  margin:0;
}
#greeting{
  margin:0;
  position: sticky;
  top:0;
  background-color: rgba(255, 255, 255, 0.39);
  font-size:20px;
  padding-left:40px;
}
@media(min-width: 770px){
  #greeting{
  }
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.container::after {
  width: 100%;
  height: 100vh;
  content: "";
  background: url("../img/4.png");
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  margin:0;
  background-repeat: no-repeat;
  background-size: cover;
}


/*클래스명으로 세팅*/
.active{
  color:tomato;
}
.hidden{
  display: none;
}


/*날짜, 시간*/
.dateNclock{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2.8vw;
  padding-top:15vh;
}

.div_progress{
  text-align: center;
  font-size: 3vw;
}

/*본문섹션*/
section{
  display: flex;
  justify-content: space-evenly;
  margin:10px;
  font-size: 1.4vw;
}
@media (max-width:770px){
  section{
    display: flex;
    justify-content: space-between;
    margin:10px;
  }
}


.todoButton, .plusCircleButton, .deleteRoutineButton{
  border: none;
  background: none;
  cursor: pointer;
}
.todoButton:active{
  opacity: 40%;
}

/*투두*/
.loginForm_field input, .loginForm_field select{
  border-radius: 0.25em;
  border-style: solid;
  border-color: #2b2b2b;
  border-width: 2px;
  padding-top:0.3em;
  padding-bottom: 0.3em;
}
.loginForm_field{
  display: grid;
  grid-template-columns: 10em 1fr;
  grid-gap: 3px;
}

.loginForm_field select{
  /*width: 25%;*/
}
.loginForm_field input{
  padding-left: 2em;
  padding-right: 4em;
  /*width: 60%;*/
}

/*트래커*/
.form_field, .loginForm_field{
  position:relative;
  margin-bottom: 4px;
}
.form_field input{
  border-radius: 0.25em;
  border-style: solid;
  border-color: #2b2b2b;
  border-width: 2px;
  padding: 0.3em 8em 0.3em 2em;
}
.form_field button, .loginForm_field button{
  all:unset;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right:15px;
  font-size: 1rem;

}
.routine_div{
  display: grid;
  grid-template-columns: auto 210px auto;
  column-gap: 5px;
}
.filledCircle{
  fill:#a0a0ff;
  stroke: black;
  cursor: pointer;
}
.unfilledCircle{
  fill:white;
  stroke: black;
  cursor: pointer;
}

